.benefits {
  position: relative;
  padding: 60px 0 80px 0;

  @media (max-width: $mobile) {
    padding: 50px 0;
    border-radius: 0 0 50px 50px;
  }

  // &::after {
  //   content: "";
  //   background: url("@img/icons/-backgraund-section.svg");
  //   background-repeat: no-repeat;
  //   background-size: 100%;
  //   position: absolute;
  //   z-index: -1;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  // }

  // .benefits__container

  &__container {
  }

  // .benefits__title

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    & span {
      background: linear-gradient(90deg, #b700c7 0%, #de3e63 46%, #ff9440 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  // .benefits__body

  &__body {
    display: flex;
    flex-direction: column;
  }

  // .benefits__items

  &__items {
    display: flex;
    justify-content: space-between;

    @media (max-width: $netbook) {
      flex-direction: column;
    }
  }

  // .benefits__items-top

  &__items-top {
    & .benefits__item {
      &:nth-child(1) {
        &::before {
          content: "";
          background: url("@img/benefits/benefits_1.svg") center center
            no-repeat;
          background-size: contain;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 50px;
          height: 50px;
        }
      }
      &:nth-child(2) {
        &::before {
          content: "";
          background: url("@img/benefits/benefits_2.svg") center center
            no-repeat;
          background-size: contain;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  // .benefits__items-bottom

  &__items-bottom {
    & .benefits__item {
      &:nth-child(1) {
        &::before {
          content: "";
          background: url("@img/benefits/benefits_3.svg") center center
            no-repeat;
          background-size: contain;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 50px;
          height: 50px;
        }
      }
      &:nth-child(2) {
        &::before {
          content: "";
          background: url("@img/benefits/benefits_4.svg") center center
            no-repeat;
          background-size: contain;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  // .benefits__items-center

  &__items-center {
    position: relative;
    display: unset;
    justify-content: unset;
    overflow: hidden;

    &::before {
      content: "";
      background: url("@img/benefits/benefits_bg.svg") center center no-repeat;
      background-size: contain;
      position: absolute;
      bottom: 0;
      left: -10px;
      width: calc(100% + 20px);
      height: 100%;

      @media (max-width: $pc) {
        left: 0;
        width: 100vw;
        background-size: auto;
      }

      @media (max-width: $tablet) {
        background: url("@img/benefits/benefits_bg-2.svg") center center
          no-repeat;
        background-size: contain;
      }

      @media (max-width: $mobile) {
        background: url("@img/benefits/benefits_bg-3.svg") center center
          no-repeat;
        background-size: contain;
        width: 100%;
        left: 0;
      }

      @media (max-width: $mobileSmall) {
        background: url("@img/benefits/benefits_bg-3.svg") center center
          no-repeat;
        background-size: cover;
      }
    }
  }
  // .benefits__item

  &__item {
    position: relative;
    max-width: calc(680px + 80px);
    width: 100%;
    padding: 0 0 0 80px;

    @media (max-width: $netbook) {
      max-width: 100%;
    }

    @media (max-width: $mobile) {
      padding: 60px 0 0 0;
    }

    &:nth-child(2) {
      @media (max-width: $netbook) {
        margin-top: 30px;
      }

      &::before {
        background: url("@img/benefits/benefits_2.svg") center center no-repeat;
        background-size: contain;
      }
    }

    // .benefits__item_horizontal

    &_horizontal {
      display: flex;
      align-items: center;
      max-width: 100%;
      height: 370px;
      margin: 20px 0;
      padding: unset;

      @media (max-width: $pc) {
        max-width: 1115px;
        margin: 20px auto;
        height: 320px;
      }

      @media (max-width: $laptop) {
        height: 278px;
        max-width: 868px;
      }

      @media (max-width: $tablet) {
        height: 649px;
        max-width: 354px;
      }

      @media (max-width: $mobileSmall) {
        height: 720px;
        max-width: 290px;
      }
    }

    &:nth-child(4) {
      &::before {
        background: url("@img/benefits/benefits_3.svg") center center no-repeat;
        background-size: contain;
      }
    }

    &:nth-child(5) {
      &::before {
        background: url("@img/benefits/benefits_4.svg") center center no-repeat;
        background-size: contain;
      }
    }
  }

  // .benefits__item-heading

  &__item-heading {
    margin-bottom: 10px;
  }

  // .benefits__item-content

  &__item-content {
    color: $colorGray;
    line-height: 1.7;
  }

  // .benefits__item-elem

  &__item-elem {
    font-family: $fontFamilySecond;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.83);
    backdrop-filter: blur(3px);
    padding: 10px;

    @media (max-width: $laptop) {
      font-size: 20px;
    }

    @media (max-width: $tablet) {
      padding: 24px;
    }

    &:nth-child(1) {
      z-index: 3;
      bottom: 15px;
      left: 55px;
      width: 210px;
      height: 210px;
      border: 10px solid #c7a7d9;

      @media (max-width: $pc) {
        width: 190px;
        height: 190px;
        left: 0;
      }
      @media (max-width: $laptop) {
        top: 90px;
      }

      @media (max-width: $tablet) {
        top: 0;
      }
    }

    &:nth-child(2) {
      z-index: 2;
      bottom: 55px;
      left: 236px;
      width: 270px;
      height: 270px;
      border: 10px solid #ff9440;

      @media (max-width: $pc) {
        width: 220px;
        height: 220px;
        left: 160px;
      }

      @media (max-width: $laptop) {
        top: 0;
        left: 145px;
      }
      @media (max-width: $tablet) {
        top: 66px;
        left: 134px;
      }
      @media (max-width: $mobileSmall) {
        top: 110px;
        left: unset;
        right: 0;
      }
    }

    &:nth-child(3) {
      z-index: 1;
      bottom: 0;
      left: 460px;
      width: 180px;
      height: 180px;
      border: 10px solid #b14f78;

      @media (max-width: $pc) {
        left: 345px;
      }

      @media (max-width: $laptop) {
        top: 60px;
        left: 334px;
      }
      @media (max-width: $tablet) {
        top: 211px;
        left: 44px;
      }
      @media (max-width: $mobileSmall) {
        top: 266px;
        left: 0;
      }
    }

    &:nth-child(4) {
      z-index: 3;
      top: 0;
      left: 580px;
      width: 290px;
      height: 290px;
      border: 10px solid #b802c4;

      @media (max-width: $pc) {
        width: 210px;
        height: 210px;
        left: 430px;
      }

      @media (max-width: $laptop) {
        display: none;
      }
    }

    &:nth-child(5) {
      z-index: 2;
      bottom: 30px;
      left: 840px;
      width: 240px;
      height: 240px;
      border: 10px solid #72cc80;

      @media (max-width: $pc) {
        width: 200px;
        height: 200px;
        left: 590px;
      }

      @media (max-width: $laptop) {
        top: 10px;
        left: 481px;
      }

      @media (max-width: $tablet) {
        top: 375px;
        left: 150px;
        z-index: 0;
      }

      @media (max-width: $mobileSmall) {
        left: unset;
        right: 0;
      }
    }

    &:nth-child(6) {
      z-index: 1;
      bottom: 70px;
      left: 1055px;
      width: 270px;
      height: 270px;
      border: 10px solid #88d9e8;

      @media (max-width: $pc) {
        width: 210px;
        height: 210px;
        left: 760px;
      }

      @media (max-width: $laptop) {
        top: 48px;
        left: 659px;
      }

      @media (max-width: $tablet) {
        top: 510px;
        left: 0;
      }
    }

    &:nth-child(7) {
      z-index: 2;
      bottom: 0;
      left: 1290px;
      width: 240px;
      height: 240px;
      border: 10px solid #ffda83;

      @media (max-width: $pc) {
        width: 190px;
        height: 190px;
        left: 925px;
      }

      @media (max-width: $laptop) {
        display: none;
      }
    }
  }

  // .benefits__buttons

  &__buttons {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      margin: 30px 0 0 0;
    }
  }

  // .benefits__button

  &__button {
    @media (max-width: $mobileSmall) {
      width: 100%;
      text-align: center;
    }
    &:first-child {
      margin: 0 30px 0 0;

      @media (max-width: $mobile) {
        margin: 0 0 10px 0;
      }
    }
  }
  // .benefits__slogan
  &__slogan {
    font-family: $fontFamilySecond;
    font-size: 29px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;
    margin: 30px 0 0 0;

    @media (max-width: $mobile) {
      font-size: 26px;
      margin: 20px 0 0 0;
    }
  }
}
