.directions {
  position: relative;
  padding: 60px 0 95px 0;
  background-color: #fff;

  @media (max-width: $tablet) {
    padding: 40px 0 85px 0;
    border-radius: 50px 50px 0 0;
    -webkit-box-shadow: 0px 30px 20px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 30px 20px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 30px 20px 0px rgba(0, 0, 0, 0.05);
  }

  // background: #fff;

  // &::before {
  //   content: "";
  //   background: url("@img/icons/-backgraund-section.svg");
  //   background-repeat: no-repeat;
  //   background-size: 100%;
  //   position: absolute;
  //   z-index: -1;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   transform: rotate(180deg);
  // }

  &:after {
    content: "";
    background: url("@img/icons/decor.svg") center center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
  }

  // .directions__container

  &__container {
    position: relative;
    z-index: 20;
  }

  // .directions__title

  &__title {
    margin-bottom: 15px;

    @media (max-width: $mobile) {
      margin-bottom: 10px;
    }
  }

  // .directions__desc

  &__desc {
    max-width: 770px;
    margin: 0 auto 50px auto;

    @media (max-width: $mobile) {
      margin: 0 auto 30px auto;
    }
  }

  // .directions__list

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin: -20px;

    @media (max-width: $mobileBig) {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      margin: unset;
    }
  }

  // .directions__item

  &__item {
    position: relative;
    max-width: 280px;
    margin: 20px;

    @media (max-width: $mobileBig) {
      margin: unset;
      max-width: unset;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    & svg {
      position: absolute;
      top: -12px;
      left: -12px;
      width: 58px;
      height: 58px;
    }
  }

  // .directions__item-img

  &__item-img {
    height: 180px;

    border-radius: 50px 50px 50px 5px;
    overflow: hidden;
    margin: 0 0 10px 0;

    @media (max-width: $mobileBig) {
      height: 220px;
    }

    @media (max-width: $mobileSmall) {
      height: 180px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .directions__item-schedule

  &__item-schedule {
    font-size: 13px;
    color: $colorGray;
    display: flex;
    align-items: center;
    margin: 0 0 5px 0;

    & span:first-child {
      display: flex;
      &::after {
        content: "";
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #000;
        margin: 0 10px;
      }
    }
  }

  // .directions__item-heading

  &__item-heading {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
  }
}
.desc {
}
