.front-form {
  padding: 35px 0;
  background-color: #fff;

  @media (max-width: $mobile) {
    padding: 25px 0;
  }
  // .front-form__container

  &__container {
  }

  // .front-form__body

  &__body {
    background: #f4f4f4;
    display: flex;
    align-items: center;
    padding: 40px 50px;
    border-radius: 50px;

    @media (max-width: $netbook) {
      flex-direction: column;
    }
    @media (max-width: $tablet) {
      max-width: 500px;
      margin: 0 auto;
    }
    @media (max-width: $mobile) {
      padding: 30px;
    }
    @media (max-width: $mobileSmall) {
      padding: 30px 20px;
      border-radius: 30px;
    }
  }

  // .front-form__text

  &__text {
    max-width: 460px;
    margin: 0 20px 0 0;

    @media (max-width: $netbook) {
      max-width: 100%;
      text-align: center;
      margin: 0 0 20px 0;
    }

    @media (max-width: $tablet) {
      text-align: unset;
    }
  }

  // .front-form__title

  &__title {
    font-family: $fontFamilySecond;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
  }

  // .front-form__desc

  &__desc {
    font-size: 15px;
    text-align: left;
  }

  // .front-form__content

  &__content {
    display: flex;
    width: 100%;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  // .front-form__input-group

  &__input-group {
    width: 100%;

    &:not(:last-child) {
      margin: 0 20px 0 0;
    }
  }

  // .front-form__input

  &__input {
    width: 100%;
    min-width: 200px;

    @media (max-width: $tablet) {
      margin: 0 0 20px 0;
    }
  }

  // .front-form__input-name

  &__input-name {
  }

  // .front-form__input-tel

  &__input-tel {
  }

  // .front-form__submit

  &__submit {
    @media (max-width: $tablet) {
      width: 100%;
    }
    @media (max-width: $mobileSmall) {
      font-size: 14px;
      padding: 18px 20px;
    }
  }
}
