.main {
  padding: 160px 0 150px 0;

  @media (max-width: $laptop) {
    padding: 160px 0 30px 0;
  }

  @media (max-width: $tablet) {
    padding: 120px 0 50px 0;
  }
  background: url("@img/main/main-bc-gradient.svg");
  background-repeat: no-repeat;
  background-size: cover;

  // .main__background

  &__background {
    position: absolute;
    left: 0;
    bottom: 200px;
    width: 100%;

    @media (max-width: $laptop)  {
      display: none;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .main__container

  &__container {
  }

  // .main__body

  &__body {
    position: relative;
    z-index: 10;

    &::before {
      content: "";
      background: url("@img/main/main-bc_1.jpg");
      background-position: center center;
      background-size: 100%;
      width: 310px;
      height: 190px;
      overflow: hidden;
      border-radius: 150px;
      border: 8px solid #fff;
      filter: blur(0.5px);
      opacity: 0.5;
      position: absolute;
      bottom: -150px;
      left: 160px;

      @media (max-width: $laptop) {
        content: unset;
      }
    }

    &::after {
      content: "";
      background: url("@img/main/main-bc_2.jpg");
      background-position: center center;
      background-size: 100%;
      width: 218px;
      height: 130px;
      overflow: hidden;
      border-radius: 150px;
      border: 7px solid #fff;
      filter: blur(2.5px);
      opacity: 0.5;
      position: absolute;
      bottom: -170px;
      right: 0;

      @media (max-width: $laptop) {
        content: unset;
      }
    }
  }

  // .main__title

  &__title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin: 0 0 44px 0;

    @media (max-width: $laptop) {
      line-height: 1.2;
      margin: 0 0 30px 0;
    }
    @media (max-width: $tablet) {
      font-size: 50px;
    }
    @media (max-width: $mobile) {
      font-size: 38px;
    }
    @media (max-width: $mobileBig) {
      font-size: 26px;
      margin: 0 0 20px 0;
    }

    & span {
      font-size: 80px;
      background: linear-gradient(90deg, #b700c7 0%, #de3e63 46%, #ff9440 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 8px;

      @media (max-width: $laptop) {
        font-size: inherit;
        margin-bottom: unset;
      }
    }
  }

  // .main__list

  &__list {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: $laptop) {
      position: relative;
      margin: 0 0 30px 0;
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }

  // .main__item

  &__item {
    text-align: center;
    &:first-child {
      margin: 0 80px 0 0;
      transform: translateY(-36px);

      @media (max-width: $laptop) {
        margin: unset;
        transform: unset;
      }
    }
    &:nth-child(2) {
      margin: 150px 0 0 0;
      transform: translateY(-150px);

      @media (max-width: $laptop) {
        margin: 0 20px;
        transform: unset;
      }

      @media (max-width: $tablet) {
        margin: 0 15px;
        transform: unset;
      }
    }
    &:last-child {
      margin: 0 0 0 auto;
      transform: translate(-40px, -150px);

      @media (max-width: $laptop) {
        margin: unset;
        transform: unset;
      }
    }
  }

  // .main__item-img

  &__item-img {
    max-width: 380px;
    max-height: 230px;
    height: 100%;
    overflow: hidden;
    border-radius: 150px;
    border: 10px solid #fff;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.11);
    margin: 0 0 10px 0;

    @media (max-width: $netbook) {
      max-height: 200px;
    }

    @media (max-width: $tablet) {
      max-height: 150px;
      border: 7px solid #fff;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .main__item-heading

  &__item-heading {
    font-weight: 600;
    text-transform: uppercase;
  }

  // .main__block

  &__block {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    margin: 220px 0 0 auto;
    max-width: 645px;
    @media (max-width: $pc) {
      margin: 300px 0 0 auto;
    }
    @media (max-width: $laptop) {
      text-align: center;
      margin: unset;
      max-width: unset;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
    }
    @media (max-width: $mobileBig) {
      grid-template-columns: unset;
      grid-template-rows: repeat(1, auto);
    }
  }

  // .main__desc

  &__desc {
    color: #272727;
    font-family: $fontFamilySecond;
    font-size: 23px;
    line-height: 1.4;
    margin: 0 0 15px 0;
    grid-area: 1 / 1 / 2 / 3;

    @media (max-width: $mobileBig) {
      font-size: 20px;
      grid-area: unset;
    }
  }

  // .main__button

  &__button {
    grid-area: 2 / 1 / 3 / 2;

    @media (max-width: $laptop) {
      margin: 0 20px 0 auto;
    }

    @media (max-width: $mobileBig) {
      grid-area: unset;
      margin: 0 auto 15px auto;
    }

    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }

  // .main__button-desc

  &__button-desc {
    color: $colorPink;
    font-family: $fontFamilySecond;
    font-size: 24px;
    font-style: italic;
    line-height: 1;
    display: flex;
    align-items: center;
    width: 100%;
    grid-area: 2 / 2 / 3 / 3;
    margin: 0 0 0 30px;

    @media (max-width: $mobileBig) {
      font-size: 20px;
      grid-area: unset;
      justify-content: center;
      margin: 0 auto;
    }

    &::before {
      content: "";
      background: url("@img/icons/note.svg") center center no-repeat;
      width: 22px;
      height: 22px;
      margin: 0 5px 0 0;
    }
  }
}
