// Заголовки, общие БЄМ блоки и проче...
h1 {
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
}
h2 {
  font-size: 38px;
  font-weight: 600;
  text-transform: uppercase;
}
h3 {
  font-size: 28px;
  line-height: 1.25;
}
@media (hover: hover) and (min-width: $tablet) {
  a,
  button {
    transition: 0.2s ease;
  }

  .menu__item > a,
  .header__socials-item,
  .header__contacts-tel {
    &:hover {
      color: $colorPink;
    }
  }

  .header__contacts-call {
    &:hover {
      text-decoration: none;
    }
  }
}
