// Заголовки, общие БЄМ блоки и проче...
h1 {
  font-family: $fontFamilySecond;
  font-size: 60px;
  font-weight: 600;
  line-height: normal;

  text-transform: uppercase;
}
h2 {
  font-family: $fontFamilySecond;
  font-size: 38px;
  font-weight: 600;
  line-height: normal;

  text-transform: uppercase;
  text-align: center;
}
h3 {
  font-family: $fontFamilySecond;
  font-size: 28px;
  line-height: 1.2;
}
@media (hover: hover) and (min-width: $tablet) {
  a,
  button {
    transition: 0.2s ease;
  }

  .menu__item > a,
  .header__socials-item,
  .header__contacts-tel {
    &:hover {
      color: $colorPink;
    }
  }

  .header__contacts-call {
    &:hover {
      text-decoration: none;
    }
  }
}
.desc {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.button {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  width: fit-content;
  padding: 18px 30px;
  border-radius: 50px;
  margin: 0 30px 0 0;

  // .button__gradient

  &__gradient {
    color: #fff;
    background: linear-gradient(90deg, #b700c7 0%, #de3e63 46%, #ff9440 100%);
  }

  // .button__outline

  &__outline {
    color: $colorPink;
    border: 1px solid$colorPink;
  }
}
